@keyframes appear {
  0%   {opacity: 0; }
  25%  {opacity: 0; }
  75%  {opacity: 1; }
}

.Phone-collection {
    display: flex;
    flex-wrap: wrap;
  }
  
  .Phone-Single-container {
    background-color: #1e242f;
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 5px;
    font-size: 16px;
    animation-name: appear;
    animation-duration: 2s;
    padding: 10px;
    
  }
  
  .Phone-Single-container > img {
    padding-top: 10px;
    width: 150px;
  }
  
  .Phone-Single-container > span {
    border-style: solid;
    border-radius: 3px;
    border-color: silver;
    position: relative;
    left: 76px;
    top: -200px;
  }

  .Phone-Single-container > p {
    text-align: left;
    margin-bottom: 10px;
    padding-left: 10px;
  }

  .Phone-Single-container > .name {
    font-size: 20px;
  }
  
  .Phone-Single-container > .price {
    font-size: 30px;
  }

  .Phone-Single-container > button {
    margin-bottom: 10px;
  }
  .grid-collection{
    display: flex;
  }
  @media only screen and (max-width: 900px) {
    .grid-collection{
      display: block  ;
      width: 100%;
    }
  }